body {
    padding: 0px;
    margin: 0 auto;
    font-family: 'Lato';
}
.fa-btn {
    margin-right: 10px;
}
input[type=radio]{
    display: none;
}
input[type=checkbox]{
    display: none;
}
.active{
    background-color: slategray !important;
    color: #FFFF00 !important;
}
input[type=number]{
    padding-left: 13px;
    margin: 0 auto;
    font-family: 'Lato';
    text-align: center;
    width: 100px;
    font-weight: bold;
    font-size: medium;
}

#numbersController{
    max-width: 600px;
    margin: 0 auto;
}

.panel{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

#numbersController > label.disabled{
    text-decoration: line-through;
}

.panel-body{
    padding-top: 5px;
    padding-bottom: 5px;
}

#big_winner_card{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -160px;
    z-index: 99;
    width: 450px;
    height: 320px;
    vertical-align: middle;
    background-image: url("/images/congratulations.png");
    padding: 120px 110px;
}

#big_winner_card #buttonBox{
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;
}

#big_winner_card #content{
    text-align: left;
}