body {
    padding: 0px;
    margin: 0 auto;
    font-family: 'Lato';
}
.fa-btn {
    margin-right: 10px;
}
input[type=radio]{
    display: none;
}
.active{
    background-color: slategray !important;
    color: #FFFF00 !important;
}
input[type=number]{
    padding-left: 13px;
    margin: 0 auto;
    font-family: 'Lato';
    text-align: center;
    width: 100px;
    font-weight: bold;
    font-size: medium;
}

#numbersController{
    max-width: 600px;
    margin: 0 auto;
}

.panel{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

#numbersController > label.disabled{
    text-decoration: line-through;
}